<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
   
</head>
<body>
    
<p1>welcome to text analayzer. enter the text below </p1>
<form action='/analyze' method="get">
    <textarea name='text' style='margin: 0px; width: 721px; heigth:93px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuations <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> extraspaceremover<br>
  
    <button type='submit'>analyze text</button>

</form>
</body>
</html>